<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: head(title='Pizza Shop - Gallery')">
</head>

<body>

    <!-- header section starts -->
    <header th:replace="fragments :: header"></header>
    <!-- header section ends -->

    <div class="heading">
        <h1>our gallery</h1>
        <p><a href="index.html" th:href="@{/index.html}">home>>></a> gallery</p>
    </div>

    <!-- gallery section starts -->

    <section class="gallery">

        <div class="gallery-container">

            <div class="box" data-id="1" data-title="Delicious Pizza" data-flavor="Cheesy & Savory"
                data-ingredients="Tomato sauce, mozzarella, basil, olive oil" data-allergies="Dairy, Gluten"
                data-image="images/gallery1.jpg">
                <img src="images/gallery1.jpg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="7" data-title="Spicy Ramen" data-flavor="Spicy & Umami"
                data-ingredients="Ramen noodles, spicy broth, green onions, sesame seeds" data-allergies="Gluten, Soy"
                data-image="images/Easy Saucy Ramen Noodles (Vegan Recipe).jpeg">
                <img src="images/Easy Saucy Ramen Noodles (Vegan Recipe).jpeg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="6" data-title="Supreme Pizza" data-flavor="Rich & Meaty"
                data-ingredients="Pepperoni, sausage, bell peppers, onions" data-allergies="Dairy, Gluten, Meat"
                data-image="images/gallery3.jpg">
                <img src="images/gallery3.jpg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="3" data-title="Veggie Delight" data-flavor="Fresh & Crisp"
                data-ingredients="Mushrooms, olives, peppers, onions" data-allergies="Dairy, Gluten"
                data-image="images/gallery4.jpg">
                <img src="images/gallery4.jpg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="16" data-title="Lava Cakes" data-flavor="Decadent Chocolate"
                data-ingredients="Dark chocolate, butter, eggs, flour" data-allergies="Dairy, Gluten, Eggs"
                data-image="images/Gluten-Free Warm Lava Cakes For Two - Kalejunkie.jpeg">
                <img src="images/Gluten-Free Warm Lava Cakes For Two - Kalejunkie.jpeg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="1" data-title="Garlic Bread" data-flavor="Buttery & Garlicky"
                data-ingredients="Baguette, garlic butter, parsley" data-allergies="Gluten, Dairy"
                data-image="images/gallery5.jpg">
                <img src="images/gallery5.jpg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="13" data-title="Pumpkin Spice Latte" data-flavor="Sweet & Spiced"
                data-ingredients="Espresso, milk, pumpkin puree, spices" data-allergies="Dairy"
                data-image="images/Pumpkin Spice Latte.jpeg">
                <img src="images/Pumpkin Spice Latte.jpeg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="9" data-title="Pasta Primavera" data-flavor="Light & Garden Fresh"
                data-ingredients="Pasta, mixed vegetables, light cream sauce" data-allergies="Gluten, Dairy"
                data-image="images/pastaex.jpeg">
                <img src="images/pastaex.jpeg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="7" data-title="Classic Spaghetti" data-flavor="Traditional & Hearty"
                data-ingredients="Spaghetti, marinara sauce, meatballs" data-allergies="Gluten, Eggs"
                data-image="images/pasta.jpeg">
                <img src="images/pasta.jpeg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="1" data-title="Margherita Pizza" data-flavor="Classic Italian"
                data-ingredients="Tomato, mozzarella, basil" data-allergies="Dairy, Gluten"
                data-image="images/gallery8.jpg">
                <img src="images/gallery8.jpg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="4" data-title="BBQ Chicken Pizza" data-flavor="Sweet & Tangy"
                data-ingredients="BBQ sauce, chicken, onions, cilantro" data-allergies="Dairy, Gluten"
                data-image="images/gallery9.jpg">
                <img src="images/gallery9.jpg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

            <div class="box" data-id="14" data-title="Tiramisu" data-flavor="Coffee & Creamy"
                data-ingredients="Ladyfingers, espresso, mascarpone, cocoa" data-allergies="Dairy, Gluten, Eggs"
                data-image="images/Chocolate Tiramisu.jpeg">
                <img src="images/Chocolate Tiramisu.jpeg" alt="">
                <div class="icon"><i class="fas fa-plus"></i></div>
            </div>

        </div>

    </section>

    <!-- gallery section ends -->

    <!-- footer section starts -->
    <section th:replace="fragments :: footer"></section>
    <!-- footer section ends -->

    <!-- Modals -->
    <div th:replace="fragments :: modals"></div>

    <!-- REMOVED lightgallery script to prevent layout issues -->
    <!-- custom js link -->
    <script type="module" src="js/app.js" th:src="@{/js/app.js}"></script>

</body>

</html>